@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,400italic|Google+Sans:400,500,400italic|Google+Sans+Display|Material+Icons&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16pt;
  color: #3c4043;
  padding: 2%;
  margin-left: 6%;
  margin-right: 6%;
}

div.header {
  display: flex;
  background: #4285f4;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.logo {
  padding: 5px;
  width: 20%;
  margin: auto;
  margin-left: 10px;
  max-height: 195px;
  max-width: 195px;
}

.title {
  padding: 5px;
  margin: auto;
  margin-left: 10px;
}

h1 {
  font-family: 'Google Sans Display', sans-serif;
  font-size: 60pt;
  color: #fff;
}

h2 {
  font-family: 'Google Sans Display', sans-serif;
  font-size: 48pt;
  color: #3c4043;
}

h3 {
  font-family: 'Google Sans', sans-serif;
  font-size: 36pt;
  color: #9aa0a6;
}

li {
  margin-bottom: 8pt;
}

li img {
  vertical-align: middle;
}
